<h1>Select a Madlib!</h1>

<ul>
  <% @madlibs.each do |madlib| %>
    <li>
      <p>Title: <%= link_to madlib.title, new_user_vocab_path %></p>
      <p>Description: <%= madlib.description %></p>
    </li><br>
  <% end %>
</ul>
