<br></br>
<div class="container">
  <h4><%= @madlib.title %></h4>
  <h5 class="madlib-text"><%= @madlib.replace_types(@user_vocab) %></h5><br></br>

  <%= link_to 'Return to home page', user_path(@user) %>
</div>
