<img class="logo" src="assets/radlibz-logo.png">
<div class="row">
  <div class="col s8 offset-s2">
    <h5>About Radlibz</h5>
    <p>Radlibz is a fun spinoff of Madlibs, a phrasal template word game invented by Leonard Stern and Roger Price. Radlibz is built with ruby on rails, styled with materialize and sass. Radlibz is the brainchild of Charlie Stopek and Sylvee Lee.</p><br>
    <div class="divider"></div><br></br>
  </div>
</div>
<div class="row">
  <div class="col s6 center-align">
    <img class="profile-img" src="assets/charlie.png">
    <br></br>
    <div>Charlie is a student at Flatiron School. Aside from coding, he is interested in chess, snowboarding, and traveling.</div>
    <%= link_to "https://github.com/orion1981" %>
  </div>
  <div class="col s6 center-align">
    <img class="profile-img" src="assets/sylvee.png">
    <br></br>
    <div>Sylvee is a student at Flatiron School. She is interested in front-end development, and loves to spend her time on Codepen.</div>
    <%= link_to "https://github.com/hellosylvee" %>
  </div>
</div>
