@import "materialize";
@import "users";

nav {
  background-color: #F50057;
  a.brand-logo {
    font-family: 'Luckiest Guy';
    padding-left: 20px;
  }
}

img.logo {
  display: block;
  width: 50%;
  margin: 3.5em auto;
}

img.profile-img {
  border-radius: 400px;
  border: solid #F50057 5px;
}

h5 {
  color: #003120;
}

h5.madlib-text {
  line-height: 1.5;
}

button .white-text {
  a {
    color: #FFFFFF;
  }
}

.row.center-align {
  margin: auto 0;
  text-align: center;
}
